<div class="projects">
    <div class="header">
        <h1 style="color: rgb(0, 0, 0)">My Projects</h1>
    </div>
    <p style="margin-left: 2.5em;"><b>TODO: This page lacks functionality..</b> </p>
</div>
<div class="container">
    <div class="hero">
        <a routerLink="/home" routerLinkActive="active"><h1><img src="../../assets/favicon.png">SwiftBoard</h1></a>
    </div>
    <ul>
        <a routerLink="/announcements" routerLinkActive="active"><li><i class="fas fa-bullhorn"></i>Announcements</li></a>
        <a routerLink="/dashboard" routerLinkActive="active"><li><i class="fas fa-columns"></i>Dashboard</li></a>
        <a routerLink="/projects" routerLinkActive="active"><li><i class="fas fa-tasks"></i>Projects</li></a>
        <a routerLink="/myaccount" routerLinkActive="active"><li><i class="fas fa-user"></i>My Account</li></a>
        <a routerLink="/helpdesk" routerLinkActive="active"><li><i class="fas fa-hands-helping"></i>Helpdesk</li></a>
        <a routerLink="/settings" routerLinkActive="active"><li><i class="fas fa-cog"></i>Settings</li></a>
    </ul>
</div>
<p>projects works!</p>
